{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load tz %}

{% block content %}

    <p class="mt-3">
        Calculate the expected value of receiving a signal.
    </p>

    {% if task_id %}
        <div class="card mb-2" id="statusContainer">
            <div class="card-header">Task status</div>
            <div class="card-body">
                <pre id="status"></pre>
            </div>
        </div>

        <div class="card mb-2" id="resultContainer" style="visibility: hidden">
            <div class="card-header">Results</div>
            <pre class="card-body" id="result"></pre>
        </div>
    {% endif %}



    <form method="POST" action="{% url 'submit' %}">
        {% csrf_token %}
        <div class="mb-5">
            <h5 class="card-title">Simulation parameters</h5>
            {% for field in simulation_form %}
                {% if field.name == 'force_explicit' %}
                    <div class="mt-3 mb-3 row">
                        <div class="col-5">
                            {{ field|add_label_class:"form-check-label" }}
                        </div>
                        <div class="col-2">
                        </div>
                        <div class="col-5">
                            {{ field|add_class:"checkboxinput form-check-input" }}
                        </div>
                    </div>
                {% else %}
                    <div class="mt-3 mb-3 row">
                        <div class="col-5">
                            <div class="col-form-label">
                                {% if field.field.explainer_text %}
                                    <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion_collapse_{{ field.auto_id }}">
                                        {{ field.label }}
                                    </div>
                                {% else %}
                                    {{ field.label }}
                                {% endif %}
                                <div id="accordion_collapse_{{ field.auto_id }}" class="accordion-collapse collapse card-body">
                                    {{ field.field.explainer_text }}
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <pre class="col-form-label">{{ field.field.math_expr }}</pre>
                        </div>
                        <div class="col-5">
                            {{ field|add_class:"form-control" }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {{ simulation_form|as_crispy_errors:"bootstrap" }}
        </div>

        <div class="mt-5">
            <h5 class="card-title">Cost-benefit analysis (optional)</h5>
            <p>The prior and bar must be expressed in <code>value_units</code> per <code>money_units</code> spent</p>
            {% for field in cost_benefit_form %}
                {{ field|as_crispy_field }}
            {% endfor %}

            <div class="mt-3 mb-3 row">
                <div class="col"></div>
                <div class="col">
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit">
                </div>
            </div>
            {{ cost_benefit_form|as_crispy_errors:"bootstrap" }}
        </div>
    </form>

    {% include "components/explainer.html" %}

    <script>
        let wait_ms = 100
        const max_wait_ms = 3000
        {% if task_id %}
            const query_created_at = new Date("{{ query_created }}" * 1000)
        {% endif %}
        function check_on_background_task(id) {
            console.log('checking on task', id);
            $.ajax(
                {url: "/task/" + id}
            ).done(function (data) {
                if (data.completed) {
                    task_status = {
                        'completed': data.done, 'success': data.success,
                        'time_taken': data.time_taken
                    }
                    $("#result").text(data.console_output)
                    $("#resultContainer").css('visibility', 'visible')
                    if (data.success) {
                        $("#statusContainer").addClass('border-success')
                    } else {
                        $("#statusContainer").addClass('border-danger')
                    }

                } else {
                    const checked_at = new Date(data.task_checked * 1000)
                    const submitted_string = `${query_created_at.toLocaleTimeString()} (${formatDate(query_created_at)})`
                    const checked_string = `${checked_at.toLocaleTimeString()}`
                    task_status = {
                        'completed': data.completed, 'queue_size': data.queue_size,
                        'last_checked': checked_string,
                        'submitted': submitted_string
                    }
                    wait_ms = Math.min(wait_ms * 1.2, max_wait_ms)
                    setTimeout(check_on_background_task, wait_ms, id)
                }
                $("#status").text(JSON.stringify(task_status, null, 4))

            });
        }

        {% if task_id %}
            check_on_background_task("{{ task_id }}")
        {% endif %}
    </script>

{% endblock content %}
