{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load tz %}
{% load markdownify %}

{% block content %}

    <p class="mt-3">
        Calculate the expected value of receiving a signal. This website provides a limited interface for
        <a href="https://github.com/tadamcz/value-of-information">this</a> Python package. For more flexibility,
        use the package directly.
    </p>

    {% include "components/explainer.html" %}

    {% if task_id %}
        <div class="card mb-2" id="statusContainer">
            <div class="card-header">Task status</div>
            <div class="card-body">
                <pre id="status"></pre>
            </div>
        </div>

        <div class="card mb-2" id="resultContainer" style="visibility: hidden">
            <div class="card-header">Results</div>
            <div class="card-body">
                <h5>Mean VOI: <span id="signal_benefit_number">None</span></h5>
                <pre id="console_output"></pre>
                <p id="csv-download-link">
                    <a href="{% url "csv" task_id %}">Download</a> simulation data as CSV.
                </p>
                <p>
                    Tip: you can share your results with anyone using the current url:
                    <code>{{ request.build_absolute_uri }}</code>
                </p>
            </div>
        </div>
    {% endif %}



    <form method="POST" action="{% url 'submit' %}">
        {% csrf_token %}
        <div class="mb-5">
            <h5 class="card-title">Simulation parameters</h5>
            {% for field in simulation_form %}
                {% if field.name == 'explicit_bayes' %}
                    <div class="mt-3 mb-3 row">
                        <div class="col-5">
                            {{ field|add_label_class:"form-check-label" }}
                        </div>
                        <div class="col-2">
                        </div>
                        <div class="col-5">
                            {{ field|add_class:"checkboxinput form-check-input" }}
                        </div>
                    </div>
                {% else %}
                    <div class="mt-3 mb-3 row">
                        <div class="col-5">
                            <div class="col-form-label">
                                {% if field.field.explainer_text %}
                                    <div class="accordion-button collapsed" data-bs-toggle="collapse"
                                         data-bs-target="#accordion_collapse_{{ field.auto_id }}">
                                        {{ field.label }}
                                    </div>

                                    <div class="accordion-collapse collapse"
                                         id="accordion_collapse_{{ field.auto_id }}">
                                        <div class="card-body">
                                            {{ field.field.explainer_text|markdownify }}
                                        </div>
                                    </div>

                                {% else %}
                                    {{ field.label }}
                                {% endif %}

                            </div>
                        </div>
                        <div class="col-2">
                            <pre class="col-form-label">{{ field.field.math_expr }}</pre>
                        </div>
                        <div class="col-5">
                            {% if field.name == "prior_family" %}
                                {{ field|add_class:"form-select" }}
                            {% else %}
                                {{ field|add_class:"form-control" }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {{ simulation_form|as_crispy_errors:"bootstrap" }}
        </div>

        <div class="mt-5">
            <h5 class="card-title">Cost-benefit analysis (optional)</h5>
            {{ cost_benefit_form.capital|as_crispy_field }}
            {{ cost_benefit_form.signal_cost|as_crispy_field }}

            <p>The parameters below have no effect on the numerical result,
                but help make the results easier to interpret without errors.
                <code>T</code> and <code>bar</code> must be expressed in <code>value_units</code> per
                <code>money_units</code> spent.
            </p>

            {{ cost_benefit_form.value_units|as_crispy_field }}
            {{ cost_benefit_form.money_units|as_crispy_field }}

            <div class="mt-3 mb-3 row">
                <div class="col"></div>
                <div class="col">
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit">
                </div>
            </div>
            {{ cost_benefit_form|as_crispy_errors:"bootstrap" }}
        </div>
    </form>

    {% include "components/feedback-form.html" %}

    {% include "components/footer.html" %}

    <script>
        let wait_ms = 100
        const max_wait_ms = 3000
        {% if task_id %}
            const query_created_at = new Date("{{ query_created }}" * 1000)
        {% endif %}
        function check_on_background_task(id) {
            console.log('checking on task', id);
            $.ajax(
                {url: "/task/" + id}
            ).done(function (data) {
                if (data.completed) {
                    task_status = {
                        'completed': data.done,
                        'success': data.success,
                        'time_taken': data.time_taken
                    }
                    $("#console_output").text(data.console_output)
                    if (data.return_value){
                        $("#signal_benefit_number").text(data.return_value.mean_signal_benefit.toPrecision(5))
                    }
                    else {
                        $("#signal_benefit_number").text("None")
                    }
                    $("#resultContainer").css('visibility', 'visible')
                    if (data.success) {
                        $("#statusContainer").addClass('border-success')
                    } else {
                        $("#statusContainer").addClass('border-danger')
                        $("#csv-download-link").hide()
                    }

                } else {
                    const checked_at = new Date(data.task_checked * 1000)
                    const submitted_string = `${query_created_at.toLocaleTimeString()} (${formatDate(query_created_at)})`
                    const checked_string = `${checked_at.toLocaleTimeString()}`
                    task_status = {
                        'completed': data.completed,
                        'queue_size': data.queue_size,
                        'last_checked': checked_string,
                        'submitted': submitted_string
                    }
                    wait_ms = Math.min(wait_ms * 1.2, max_wait_ms)
                    setTimeout(check_on_background_task, wait_ms, id)
                }
                $("#status").text(JSON.stringify(task_status, null, 4))

            });
        }

        {% if task_id %}
            check_on_background_task("{{ task_id }}")
        {% endif %}
    </script>

{% endblock content %}
