<div class="card mt-3 mb-3">
    <div class="card-body">
        <h5 class="card-title">Give feedback</h5>
        <form id="feedback-form" action="https://formspree.io/f/mrgjrbjb" method="POST">
            <input class="form-control mb-3" type="email" name="email" placeholder="email (optional) so I can reply"/>
            <textarea required class="form-control mb-3" name="message" placeholder="Feedback"></textarea>
            <button id="feedback-form-button" class="btn btn-secondary col">Submit</button>
            <span class="mx-1" id="feedback-form-status"></span>
            <div class="mt-3">
                This form is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                <a href="https://policies.google.com/terms">Terms of Service</a> apply.
            </div>
        </form>
    </div>
</div>

{% with recaptcha_site_key="6LelD7EhAAAAAH5hbZe766uhn7bdQCfCHdLXrMu_" %}

<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
<script>
    $(document).ready(function () {
        var form = document.getElementById("feedback-form");
        var status = document.getElementById("feedback-form-status");
        const error_message = "There was a problem submitting your form. Try email instead: tadamczewskipublic@gmail.com"
        form.addEventListener("submit", captcha)

        function captcha(event) {
            event.preventDefault()
            grecaptcha.ready(function () {
                grecaptcha.execute("{{ recaptcha_site_key }}", {action: 'submit'}).then(function (token) {

                    status.innerHTML = "Sending..."
                    var data = new FormData(form);
                    data.append("g-recaptcha-response", token)
                    fetch(form.action, {
                        method: form.method,
                        body: data,
                        headers: {
                            'Accept': 'application/json'
                        }
                    }).then(response => {
                        if (response.ok) {
                            status.innerHTML = "Thanks for your submission!";
                            form.reset()
                        } else {
                            response.json().then(data => {
                                if (Object.hasOwn(data, 'errors')) {
                                    status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
                                } else {
                                    status.innerHTML = error_message
                                }
                            })
                        }
                    }).catch(error => {
                        status.innerHTML = error_message
                    });

                })
            })
        }
    })
</script>

{% endwith %}