.alert-debug {
    color: black;
    background-color: white;
    border-color: #d6e9c6;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

#resultContainer code, #statusContainer code {
    white-space: pre-line;
}

#explainer_accordion code {
    white-space: normal;
}

#main_content_container > :not(#resultContainer, #statusContainer) {
    max-width: 50em;
}

code {
    color: black;
    background: #f2f1f1;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

/* Override bootstrap defaults for .accordion-button */
form .accordion-button {
    padding: 0;
}

/* Override bootstrap defaults for .accordion-button */
form .accordion-button:not(.collapsed) {
    color: inherit;
    background-color: inherit;
    box-shadow: inherit;
}

.grecaptcha-badge {
    visibility: hidden;
}